<html>
<head>
  <title>Movie details</title>
  <!-- details.ejs -->
  <!-- dynamic page displaying details of an individual title -->

</head>
<body>
  <h1>Movie Info: </h1>
  <h2><%= movieDetails.Title %></h2>

  <!--add something to search the favObjects array and see if the movie is already a favorite -->
  <!--if yes, indicate that the movie is already a favorite and don't show this button-->
  <!--eventually include option to un-favorite the item-->

  <form method="post" action="/favorites">
    <input type="hidden" name=Title value="<%= movieDetails.Title %>">
    <input type="hidden" name=imdbID value="<%= movieDetails.imdbID %>">
    <input type="submit" value="mark as favorite">
  </form>

  <ul>
    <li>(<%= movieDetails.Year %>)</li>
    <li>Genre: <%= movieDetails.Genre %></li>
    <li>Plot: <%= movieDetails.Plot %></li>
    <li>Language: <%= movieDetails.Language %></li>
    <li>Actors: <%= movieDetails.Actors %></li>
    <li>Director: <%= movieDetails.Director %></li>
    <li>Writer: <%= movieDetails.Writer %></li>
    <li>Awards: <%= movieDetails.Awards %></li>
  </ul>
</body>
</html>