<html>
<head>
  <title>Movie details</title>
  <!-- details.ejs -->
  <!-- dynamic page displaying details of an individual title -->

</head>
<body>
  <h1>Movie Info: </h1>
  <p><h2><%= movieDetails.Title %></h2></p>
  <p>(<%= movieDetails.Year %>)</p>
  <p>Genre: <%= movieDetails.Genre %></p>
  <p>Plot: <%= movieDetails.Plot %></p>
  <p>Language: <%= movieDetails.Language %></p>
  <p>Actors: <%= movieDetails.Actors %></p>
  <p>Director: <%= movieDetails.Director %></p>
  <p>Writer: <%= movieDetails.Writer %></p>
  <p>Awards: <%= movieDetails.Awards %></p>

</body>
</html>